$font-sans-serif = helvetica neue, helvetica, arial, sans-serif
$font-base       = 16px

$line-height-base    = 1.5
$line-height-heading = 1.25

$border = 1px solid $gray-light

$breakpoint-smartphone   = 480px
$breakpoint-mid-mobile   = 600px
$breakpoint-tablet       = 768px
$breakpoint-desktop      = 900px
$breakpoint-desktop-wide = 1200px

// Colors
$gray-dark  = #333333
$gray       = #3a4141
$gray-light = #989898
$blue       = #00B0E9
$green      = #7ac087

$space                   = 30px
$padding-spaced          = $space/2
$padding-default         = $space/3
// $padding-extra-spaced = $space
// $padding-narrow       = $space/6