.button
  display: inline-block
  border: none
  border-radius: 0
  padding-left: $padding-spaced
  padding-right: $padding-spaced
  text-align: center
  cursor: pointer
  background-color: $green
  transition: background .3s ease-in

  &:hover
    background-color: darken($green, 15%)

  &:focus
    outline: none

.button,
.button:hover
  color: white

.button-block
  width: 100%
  padding: $padding-spaced