label
  display: block
  margin-bottom: 5px
  cursor: pointer

textarea:focus, input:focus
  outline: none

.form-input
  display: block
  padding: $padding-default
  width: 100%
  border-radius: 0
  border: $border
  -webkit-appearance: none

  &:focus
    transition: all .2s ease-in
    border: 1px solid $green
    background-color: lighten($green, 95%)

.input-dark
  background-color: $gray-dark
  color: white
  border: none
  padding: $padding-spaced

  &:focus
    border: none
    background-color: darken($gray-dark, 15%)