.search-box
  position: absolute
  top: 0
  right: 0
  z-index: 1000
  margin: 10px 0
  width: 270px

  form
    display: inline-block

  .menu-toggle
    padding: 11px 10px 13px 10px

.search-form
  position: relative

  .button-search
    position: absolute
    background-color: transparent
    padding: 0
    color: $gray-light
    font-size: 25px
    top: 8px
    right: 10px