@import "./components/map/map"
@import "./components/navigation/navigation"
@import "./components/search-box/search-box"

html, body
  padding: 0
  margin: 0
  box-sizing: border-box
  background: #333333
  font-family: Arial, sans-serif

.page
  position: relative